extends layout

block beforeFacets
  div
    form#searchForm(method="GET", action="/api/search")
      label(for="q") Query
      input#q(type="text", name="q").ui-widget
      label(for="filter") Filter
      input#filter(type="text", name="filter")
      button#search(type="submit") Search
  br
  div
    form#uploadForm(method="POST", action="/api/upload", enctype="multipart/form-data")
      input(type="submit", value="Upload", name="submit")
      input#file(type="file", accept="*", name="file")
    br